* {
	padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 100%;
}

.title {
	width: 80%;
	display: block;
	margin: 25px auto 0;
	text-transform: uppercase;
	font-size: 0.95em;
	border-bottom: 1px solid #000;
}

.master-word-box {
	display: block;
	width: 80%;
	margin: 50px auto 25px;
	height: 45px;
	border: 1px solid #000;
}

.master-word-box:before {
	content: "Master Word";
	font-size: 1em;
	font-family: sans-serif;
	position: absolute;
	margin-top: -25px;
}

.clue-box {
	display: block;
	width: 80%;
	margin: 50px auto 25px;
	height: 45px;
	border: 1px solid #000;
}

.clue-box:before {
	content: "Clue";
	font-size: 1em;
	font-family: sans-serif;
	position: absolute;
	margin-top: -25px;
}

label {
	width: 80%;
	display: block;
	padding: 1em;
	padding-left: 0;
	margin: 0 auto;
}

input {
	width: 80%;
	display: block;
	border: 1px solid #000;
	padding: 1em;
	margin: 0 auto;
}

table {
  width: 80%;
  margin: 25px auto;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background: #F7F7F7;
}

th {
  background: #E6E6E6;
  color: #000;
  font-weight: bold;
}

td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}